.titulo{
  background-color: #c7c9c7;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 70px;
  border-radius: 10px;
  text-shadow: 5px 5px 5px #ffc810;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer {
  background-color: #ffc810; 
  padding: 80px 40px 80px 40px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  position: relative;
}
  
.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -10px;
}

.formGroup p, select, input{
  width: 50%;
  height: 30px;
  border-radius: 10px;
}
  
.contenido {
  font-size: 16px;
  color: #000;
}
  
  .addButton {
    width: 100%;
    height: 40px;
    background-color: rgb(199, 201, 199);
    border-radius: 10px;
  }
  
  .addButton:hover {
    background-color: white; 
  }
  