.Container{
  text-align: center;
  min-height: 100vh;
}

.Container h1{
  background-color: rgb(199, 201, 199);
  padding: 20px;
  margin-bottom: 50px;
  font-size: 70px;
  text-shadow: 5px 5px 5px #ffc810;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Add_ClassRoom{
  background-color: #ffc810;
  padding:  80px 40px 80px 40px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

.Information{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.Information select{
  width: 50%;
}

.Add_Button{
  width: 100%;
  height: 40px;
  background-color: rgb(199, 201, 199);
  border-radius: 10px;
}

.Add_Button:Hover{
  background-color: #FFF;
  transition: 0.5s;
}

