.topCategorias {
    text-align: center;
    margin-bottom: 1rem 0px 5px;
    position: relative;
    color: #78be20;
    font-size: 55px;
    margin-top: 15px;
}

.containerCategoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCategoria h2 {
    color: #ffc810;
    font-size: 30px;
}

