.topCategorias {
    text-align: center;
    margin-bottom: 3rem;
}

.topCategorias h1 {
    color: #78be20;
    font-size: 60px;
}

.containerCategoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCategoria h1 {
    color: #ffc810;
    font-size: 30px;
}

.cardCategoria {
    width: 400px; 
    height: 200px; 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
}

.cardCategoria a {
    text-decoration: none; 
}

.cardCategoria span,
.cardCategoria a {
    font-size: 1.6rem; 
    color: #fff;
    cursor: pointer;
}

.cardCategoria span:hover,
.cardCategoria a:hover {
    color: #ffc810;
}
