.informacionFruta {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
  }
  
  .informacionFruta h1 {
    color: #78be20;
  }
  .informacionFruta p{
    color: #003f72;
  }
  .informacionFruta h3 {
    margin-left: 10px;
    color: #78be20;
  }
  .informacionFruta h4{
    color: #78be20;
  }
  
  .imagenConGradiente {
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
  }
  
  .imagenConGradiente img {
    background-size: cover;
    margin-left: 500px;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
  }
  
 
  .informacionFruta h3{
    padding: 20px;
    
  }

  .informacionFruta h1, .informacionFruta p, .informacionFruta h3, .informacionFruta ul {
    position: relative;
    z-index: 2;
  }
  
  .tipoCultivo {
    display: flex;
    align-items: center;
  }
  
  .imgCultivo {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .imgInformacion {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .parrafoInformacion {
    display: flex;
    align-items: center;
  }
  
  .separator {
    border: 0;
    height: 1px;
    background: #ffc810;
    margin: 20px 05px;
  }
  