.titulo{
    background-color: rgb(199, 201, 199);
    padding: 2px;
    margin-bottom: 50px;
    font-size: 70px;
    height: 15vh;
    text-shadow: 5px 5px 5px #ffc810;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.formGroup{
    max-width: 800px;
    margin: auto;
    background-color: #FFC810;
    border-radius: 10px;
    padding: 45px 40px 45px 40px;
}

.Space_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.Space_data select, input{
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    height: 50px;
}

.Add_Button{
    width: 100%;
    height: 40px;
    background-color: rgb(199, 201, 199);
    border-radius: 10px;
}

.Add_Button:Hover{
    background-color: #FFF;
    transition: 0.5s;
}