

.container_medicinal {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    
  }
  
  .titulo_mediicnal {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #78be20;
  }
  
  .planta_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10%;
  }
  
  .planta_img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
  }
  
  .plantas_medicinal {
    font-size: 18px;
    color: black;
    text-decoration: none; 
  }
  .plantas_medicinal a {
    text-decoration: none; 
    color: black; 
  }
  
  .plantas_medicinal a:hover {
    color: #78be20; 
  }
  @media (max-width: 1024px) {
    .titulo_mediicnal {
        font-size: 30px;
    }

    .planta_item {
        margin-left: 5%;
    }

    .planta_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
      flex-direction: column; 
  }
  .planta_img {
      width: 80px; 
      height: 80px;
      margin: 0 auto;
  }
    .plantas_medicinal {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .titulo_mediicnal {
        font-size: 28px;
    }

    .planta_item {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .planta_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
      flex-direction: column; 
  }
  
  .planta_img {
      width: 80px; 
      height: 80px;
      margin: 0 auto;
  }
    .plantas_medicinal {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .titulo_mediicnal {
        font-size: 26px;
    }

    .container_medicinal {
        padding: 10px;
    }

    .planta_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
      flex-direction: column; 
  }
  
  .planta_img {
      width: 80px; 
      height: 80px;
      margin: 0 auto;
  }
    .plantas_medicinal {
        font-size: 24px;
    }
}
