.LoginContainer{
    background-size: 100%;
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

Body{
    padding: 0%;
    margin: 0%;
}

.LoginContainer h1 {
    color: #FFC810;
    font-size: 51px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

.LoginContainer p {
    color: #FFC810;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-bottom:10px ;
    padding: 0;
}

.LoginContainer input{
    font-family: "Poppins", sans-serif;
    max-width: 60%; 
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

.form{
background-color: #003F72;
width: 80%; height: 80%;
max-width: 600px; max-height: 350px ;
margin-right: auto; margin-left: auto; margin-top: 12vh;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0px;
}

.buttonSend{
    font-family: "Poppins", sans-serif;
    width: 60%;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFC810;
    color: white;
    border-radius: 5px;
    border: 0px;
}
@media (max-width: 768px) {
    .form {
        width: 90%;
        max-width: 500px;
    }

    .LoginContainer h1 {
        font-size: 36px;
    }

    .LoginContainer input,
    .buttonSend {
        width: 90%; 
        height: 40px;
        font-size: 14px;
    }
}

/* Móviles */
@media (max-width: 480px) {
    .form {
        width: 150%;
        max-width: 400px;
    }

    .LoginContainer h1 {
        font-size: 28px;
    }

    .LoginContainer p {
        font-size: 16px;
    }

    .LoginContainer input{
        width: 50%; 
        height: 35px;
        font-size: 12px;
    }
    .buttonSend {
        width: 100%; /* Adaptación para móviles */
        height: 35px;
        font-size: 12px;
    }
}