body {
    padding: 0%;
    margin: 0%;
}

.MonitoringContainer {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: #003F72;
}

.MonitoringContainer p {
    background-color: #003F72;
    color: #fff;
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    padding: 2px;
    border: 1px solid #FFC810;
    border-radius: 10px;
}

.MonitoringContainer h5{
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.MonitoringContainer h1{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    color: #78BE20;
    font-size: 40px;
}
.MonitoringContainer h1{
    margin-bottom: 5px;
}

.ContainerPlant {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.ContainerPlant img {
    margin: auto;
    margin: 10px;
    border-radius: 10px;
    height: 180px;
}

.Section_Manage select{
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

