
.cardCategoria {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 20rem;
    height: 10rem;
  }
  
  .cardCategoria h2,
  .cardCategoria a {
    margin: 0;
    padding: 0;
  }
  
  .cardCategoria a {
    font-size: 1.6rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none; 
  }
  
  .cardCategoria a:hover {
    color: #78be20;
    cursor: pointer;
  }
  