html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecf0f1; 
}

.h2 {
    color: #003c72;
    text-align: center;
    font-size: 40px;
    background-color: #ecf0f1;
}
.contentToCapture {
    padding: 0; 
    margin: 0;
  }

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.label {
    display: flex;
    flex-direction: column;
    color: #003c72;
    font-size: 20px;
}

.input {
    border: 2px solid #ffc810;
    outline: none;
    border-radius: 10px;
    color: #003c72;
    margin-top: 5px;
    padding: 3px;
    font-size: 18px;
    width: 30rem;
    box-sizing: border-box;
    box-shadow: 0 4px 2px -2px grey;
}

.subir {
    padding: 10px 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    background: #003c72;
    color: #ffc810;
    cursor: pointer;
    transition: all 300ms;
    text-align: center;
    line-height: 1.5;
}

.text_subir {
    font-size: 25px;
    color: #003c72;
}

.download {
    font-size: 30px;
    color: #003c72; 
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
.imagePreview {
    width: 150px;
    height: 150px;
  }